<form action="/favourites" method="POST" class="favourite-form mt-6 inline-block">
  <input type="hidden" name="id" value="<%= home._id %>">
  <button
    type="submit"
    class="fav-btn flex items-center gap-2 px-5 py-2 bg-green-400 hover:bg-green-500 text-white text-sm font-semibold rounded-full shadow-md transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-green-300"
  >
    <!-- Heart Icon -->
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current" viewBox="0 0 24 24">
      <path
        d="M12 21.35l-1.45-1.32C5.4 15.36 
           2 12.28 2 8.5 2 5.42 4.42 3 
           7.5 3c1.74 0 3.41 0.81 4.5 
           2.09C13.09 3.81 14.76 3 16.5 
           3 19.58 3 22 5.42 22 8.5c0 
           3.78-3.4 6.86-8.55 11.54L12 21.35z"
      />
    </svg>
    <span>Add to Favourites</span>
  </button>
</form>
